<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.igexin.vivo">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application>

        <meta-data
            android:name="com.vivo.push.app_id"
            android:value="${VIVO_APP_ID}" />

        <meta-data
            android:name="com.vivo.push.api_key"
            android:value="${VIVO_APP_KEY}" />

        <service
            android:name="com.vivo.push.sdk.service.CommandClientService"
            android:exported="true"
            android:process=":pushservice"/>

        <activity
            android:name="com.vivo.push.sdk.LinkProxyClientActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:process=":pushservice"/>

        <receiver android:name="com.igexin.sdk.VivoPushMessageReceiver"
            android:process=":pushservice">
            <intent-filter>
                <!-- 接收 push 消息 -->
                <action android:name="com.vivo.pushclient.action.RECEIVE" />
            </intent-filter>
        </receiver>

    </application>

</manifest>
